<h1>Registers page</h1>

<form action="/Home/register" method="post">
    <input name="userName" placeholder="userName" />
    <input name="passWord" placeholder="userWord" />
    <button type="submit">Register</button>
</form>